header {
  padding: 20px 0;

  .header-content {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;

    .logo { width: 104px; z-index: 101; order: 1;}

    nav {
      width: calc(100% - 292px);
      order: 2;
      width: auto;
      margin-left: auto;
      align-items: center;

      .burger-menu {
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;

        .menu-toggle {
          cursor: pointer;
          margin: 0;
          padding: 8px 15px;
          user-select: none;
        }
      }

      .main-menu {
        margin: 0;
        padding: 0;
        list-style: none;
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        font-weight: bold;
        background-color: var(--primary-color);
        text-align: center;

        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        border: 1px solid var(--red-color);
        z-index: 100;

        .menu-link {
          text-decoration: none;
          color: var(--primary-text-color);
          text-transform: uppercase;
          font-weight: bold;
        }

        &.show {
          display: flex;
          position: absolute;
          top: 53px;
          width: 90%;
          left: 0;
          margin: 0;
          padding: 20px;
        }
      }

      input:checked ~ .main-menu {
        display: flex;
      }
    }

    @media (min-width: 1200px) {
      nav {
        order: 2;
        margin-left: 0;
        width: auto;
        flex-grow: 1;

        .burger-menu, input {
          display: none;
        }

        .main-menu {
          display: flex;
          flex-direction: row;
          position: static;
          width: auto;
          padding: 0;
          background: none;
          border: none;
          gap: 20px;
          justify-content: center;
        }
      }
    }

    .utility-links {
      display: flex; align-items: center; gap: 10px; order: 3;
      .search { width: 24px; cursor: pointer; margin-left: auto; }
      .lang {
        width: auto; width: 104px;
        .lang-wrapper {
          list-style: none; margin: 0; padding: 0;
          display: flex; align-items: center; justify-content: center;
          gap: 10px; position: relative;

          &::before {
            content: ""; display: block; width: 42px; height: 24px;
            border-radius: 100px; border: 1px solid var(--primary-text-color); order: 2; flex-shrink: 0;
          }
          a {
            font-size: 14px; font-weight: bold; line-height: 24px;
            color: var(--grey-color); position: relative;
            text-decoration: none; display: inline-block;
            &.is-active { color: var(--primary-text-color); }

            &.ua { order: 1; &.is-active::after { display: block; } &::after { content: ""; display: none; width: 18px; height: 18px; border-radius: 50%; background: url("../images/uk.png") center/cover no-repeat; position: absolute; top: 3px; right: -33px; z-index: 5; } }
            &.en { order: 3; &.is-active::before { display: block; } &::before { content: ""; display: none; width: 18px; height: 18px; border-radius: 50%; background: url("../images/en.png") center/cover no-repeat; position: absolute; top: 3px; left: -33px; z-index: 5; } }
          }
        }
      }
    }
  }
}